{% extends "layout.html" %}
{% block content %}
<div class="content-section"></div>
    <title>{{ title }}</title>

    {{ div | safe }}
    {{ form1.hidden_tag() }}
    {{ form2.hidden_tag() }}
    <form method="POST" action="">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        {{ form1.submit_confirm(class="btn btn-outline-info") }}
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        {{ form2.submit_cancel(class="btn btn-outline-warning") }}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock content %}