{% extends "layout.html" %}
{% block content %}
<title>{{ title }}</title>

{{ div | safe }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock content %}