{% extends "layout.html" %}
{% block content %}
<div class="container text-left mb-4 mt-2">
    <h1 class="text-center">Welcome to Terrarum</h1>
    <p>A realm/city management game with an emphasis on simulation, politics, resource management and war.</p>
</div>

<div class="container mt-2">
{% for post in posts.items %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.createdby.image_file) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">{{ post.createdby.username }}</a>
                <small class="text-muted">{{ post.datecreated.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" >{{ post.title }}</a></h2>
            <p class="article-content">{{ post.post }}</p>
        </div>
    </article>
{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
        {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
    {% else %}
    ...
    {% endif %}
{% endfor %}

</div>
{% endblock content %}
