{% extends "layout.html" %}
{% block content %}


<div class="content-section text-center">
    <div class="table text-center">
        <title>{{ title }}</title>
        <div class="container text-center">
            {% for table in tables %}
                <thead>
                {{titles[loop.index]}}
                </thead>
                {{ table|safe }}
            {% endfor %}
        </div>
    </div>
    <div class="container"> 
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Pick Game To Join</legend>
                <div class="form-group">
                    {{ form.game.label(class="form-control-label") }}
    
                    {% if form.game.errors %}
                        {{ form.game(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.game.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.game(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>


{% endblock content %}