{% extends "layout.html" %}
{% block content %}

<script>
    $(document).ready( function () {
        $('#peontable').DataTable();
    } );
</script>

<div class="table table-bordered table-hover text-light bg-dark">
{% for table in tables %}
            {{ table|safe }}
{% endfor %}
</div>

{% endblock content %}