{% extends "layout.html" %}
{% block content %}

<script>
    $(document).ready( function () {
        $('#peontable').DataTable();
    } );
</script>

<div class="container-fluid text-center p-4 mb-4">
        <div class="row mb-2">
            <div class="col">
                Peon Overview


            </div>
        </div>
    <div class="row">
        <div class="col">
            <embed type="image/svg+xml" src={{line_data|safe}} style='max-width:1250px'/>
        </div>
        <div class="col">
            <embed type="image/svg+xml" src={{gauge_data|safe}} style='max-width:1250px'/>
        </div>
        <div class="col">
            3
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table table-hover text-light bg-warning mt-4 p-2">
                {% for table in tables %}
                    {{ table|safe }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="static/images/families.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Families</h5>
                    <p class="card-text">Number of peon families: {{ tot_fams }}</p>
                    <p class="card-text">Wealthiest familiy: PLACEHOLDER</p>
                    <p class="card-text">Biggest familiy: PLACEHOLDER</p>
                    <a href="#" class="btn btn-primary">Build More Housing</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">  
                <img class="card-img-top" src="static/images/gender.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Genders</h5>
                    <p class="card-text">Male: {{ df_peon_gender.Count[df_peon_gender.Gender == 'Male'].item() }}</p>
                    <p class="card-text">Female: {{ df_peon_gender.Count[df_peon_gender.Gender == 'Female'].item() }}</p>
                    <a href="#" class="btn btn-primary">Build More Housing</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;"> df_peon_so
                <img class="card-img-top" src="static/images/sex_orientation.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sexual Orientation</h5>
                    <p class="card-text">Heterosexual: {{ df_peon_so.Count[df_peon_so.Orientation == 'Heterosexual'].item() }}</p>
                    <p class="card-text">Homosexual: {{ df_peon_so.Count[df_peon_so.Orientation == 'Homosexual'].item() }}</p>
                    <p class="card-text">Bisexual: {{ df_peon_so.Count[df_peon_so.Orientation == 'Bisexual'].item() }}</p>
                    <a href="#" class="btn btn-primary">Build More Housing</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="static/images/families.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Peon Families</h5>
                    <p class="card-text">Number of peon families: {{ tot_fams }}</p>
                    <p class="card-text">Wealthiest familiy: PLACEHOLDER</p>
                    <p class="card-text">Biggest familiy: PLACEHOLDER</p>
                    <a href="#" class="btn btn-primary">Build More Housing</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="static/images/families.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Peon Families</h5>
                    <p class="card-text">Number of peon families: {{ tot_fams }}</p>
                    <p class="card-text">Wealthiest familiy: PLACEHOLDER</p>
                    <p class="card-text">Biggest familiy: PLACEHOLDER</p>
                    <a href="#" class="btn btn-primary">Build More Housing</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}